::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
  outline: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(
    rgb(179, 206, 177),
    rgb(194, 234, 190),
    rgb(179, 206, 177)
  );
  outline: none;
}
